/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.col,
.left-col,
.right-col {
  border: 1px solid red;
}

.card {
  background-color: lightblue;
}

/* COMMON */

* {
  font-family: 'PT Sans', sans-serif;
}

.flex {
  display: flex;
}

.container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  border-radius: 20px;
  padding: 1rem;
}

/* HEADER */

header {
  background-color: #0084fd;
  color: white;
}

header .container {
  height: 80px;
}

nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: none;
}

.menu-list li {
  margin-left: 1.5rem;
  list-style-type: none;
}

.menu-list a {
  color: white;
  text-decoration: none;
}

.menu-icon a {
  color: white;
  font-size: 25px;
}

/* MAIN */

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* INTRODUCTION INFO SECTION */

.col,
.left-col,
.right-col {
  padding: 1rem;
}

/* STRATEGIC PLANNING SECTION */

.violet {
  background-color: #9792e3;
}

.small-plan {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* TESTIMONIALS SECTION */

.testimonials {
  text-align: center;
}

.testimonials h2 {
  margin: 1rem 0;
}

.testimonials h4 {
  text-transform: uppercase;
}

.testimonials .col {
  margin: 1rem 0;
}

/*********
RESPONSIVE 
**********/


/* TABLET */

@media all and (min-width: 768px) {
  
  /* INTRODUCTION INFO SECTION */

  .columns-container-one,
  .columns-container-two {
    display: flex;
  }

  .left-col {
    width: calc((100% / 3) *2);
  }

  .right-col {
    width: calc((100% / 3));
  }

  /* BENEFITS SECTION */

  .benefits {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .col {
    width: 50%;
  }

}


/* DESKTOP */

@media all and (min-width: 992px) {

  /* HEADER */

  .container {
    max-width: 1000px;
  } 

  .menu-list {
    display: block;
  }
  
  .menu-icon {
    display: none;
  }

  /* STRATEGIC PLANNING SECTION */

  .strategy-col-container {
    display: flex;
  }
  .small-plan {
    max-width: 800px;
  }

  /* BENEFITS SECTION */

  .benefits .col {
    width: calc(100% / 3);
  }
  
}