/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

* {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
}

.flex {
  display: flex;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

h3 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

h4 {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.blue-icon {
  color: #0084fd;
  margin: 1.5rem 0;
}

img {
  width: 100%;
}

.card {
  background-color: lightblue;
}

/* HEADER */

header {
  background-color: #0084fd;
  color: white;
}

header .container {
  height: 80px;
}

nav {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: none;
}

.menu-list li {
  margin-left: 1.5rem;
  list-style-type: none;
}

li a {
  color: white;
  text-decoration: none;
}

.menu-icon a {
  color: white;
  font-size: 25px;
}

.small-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.white-btn {
  background-color: white;
  color: black;
}

/* MAIN */

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* INTRODUCTION INFO SECTION */


.columns-container-one h4,
.columns-container-two h4 {
  color: #0084fd;
}

.col,
.left-col,
.right-col {
  line-height: 1.8rem;
  padding: 1rem 1rem;
}

.col,
.left-col,
.right-col  {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 20px;
  display: block;
  width: 70%;
  padding: 1rem;
}

.left-col .card {
  padding-bottom: 0;
}

.right-col p {
  margin-top: 1rem;
}

.text-content p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.img-content {
  padding-top: 1.5rem;
}

.text-content {
  text-align: center;
}

.img-content img {
  width: 100%;
}

.card {
  display: block;
}

.mid-btn {
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

.blue-btn {
  background-color: #0084fd;
  color: white;
  text-decoration: none;
}

/* STRATEGIC PLANNING SECTION */

.violet {
  background-color: #9792e3;
  color: white;
}

.small-plan {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.strategy-start .card {
  background-color: #9792e3;
  color: white;
}

.strategy-end .card {
  background-color: white;
  color: black;
}

.strategy-start h3 {
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.strategy-end p {
  font-style: italic;
}

.violet-icon {
  margin-top: 3rem;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 43px;
  background-color: #9792e3;
  display: inline-block;
  text-align: center;
}

/* TESTIMONIALS SECTION */

.testimonials {
  text-align: center;
}

.testimonials h2 {
  margin: 1rem 0;
}

.testimonials h4 {
  text-transform: uppercase;
}

.testimonials .col {
  margin: 1rem 0;
}

.circle-img-box {
  width: 25%;
}

.testimonial-text {
  width: 75%;
}

.testimonial-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #9792e3;
  color: white;
}
    
.circle-img-box {
  width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}

.circle-img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.testimonial-text p {
  margin: 1rem 0;
}

.testimonials h2 {
  color: #9792e3;
  font-size: 2rem;
}

/* BENEFITS SECTION */

.violet-card {
  padding: 1.5rem;
  text-align: left;
  background-color: white;
}

.violet-card h3 {
  color: #9792e3;
}

.violet-card p {
  color: black;
  margin-bottom: 1.5rem;
}

.card-title {
  width: 100%;
  text-align: center;
}

.card-number {
  text-align: left;
  font-size: 3rem;
  color: #9792e3;
}

.violet-btn {
  text-decoration: none;
  color: white;
  background-color: #9792e3;
  margin: 1rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ABOUT US SECTION */

.card-about-text {
  text-align: left;
}

.card-about-text h2 {
  color: #9792e3;
  font-size: 3rem;
}

.card-about-pic {
  text-align: center;
}

.card-about-pic .circle-img-box {
  display: inline-block;
}

.about-text-one {
  margin: 1.5rem 0;
}

.img-text p {
  color: #9792e3;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* GET STARTED SECTION  */

.central {
  text-align: center;
  display: block;
}

#started {
  margin-bottom: 0;
}

.central h2 {
  font-size: 2rem;
}

.central h4 {
  text-transform: uppercase;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
}

#gold {
  font-size: 4rem;
  color: #fdc05f;
  margin: 3rem 0;
}

.central p {
  margin: 1rem 0;
}

.central .mid-btn {
  text-decoration: none;
  color: #9792e3;
}

.started-small-text {
  font-size: 0.8rem;
  margin: 1rem 0;
}

.underline {
  font-size: 0.8rem;
  text-decoration: underline;
}

/* FOOTER */

.black {
  background-color: #333333;
  margin: 0 auto;
  padding: 1rem;

}

.footer-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
  color: white;
  text-align: center;
}

.violet-text {
  color: #9792e3;
  font-size: 1rem;
}

/*********
RESPONSIVE 
**********/


/* TABLET */

@media all and (min-width: 768px) {
  
  /* INTRODUCTION INFO SECTION */

  .columns-container-one,
  .columns-container-two {
    display: flex;
  }

  .left-col {
    width: calc((100% / 3) *2);
  }

  .right-col {
    width: calc((100% / 3));
    display: flex;
  }

  .col, {
    display: block;
  }

  .card {
    width: 100%;
  }

  .text-content {
    width: 50%;
    text-align: left;
  }

  .img-content {
    width: 50%;
  }

  /* TESTIMONIALS SECTION */

  .testimonial-card {
    display: flex;
    justify-content: space-between;
  }

  .testimonial-text {
    text-align: left;
  }

  /* BENEFITS SECTION */

  .benefits {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits .col {
    width: 50%;
  }

  /* ABOUT US SECTION */

  .about-container .columns-container {
    display: flex;
  }

  /* FOOTER */

  .footer-container {
    width: 35%;
  }

}



/* DESKTOP */

@media all and (min-width: 992px) {

  /* HEADER */

  .left-col .card {
    display: flex;
  }

  .menu-list {
    display: block;
  }
  
  .menu-icon {
    display: none;
  }

  /* INTRODUCTION INFO SECTION */

  /* STRATEGIC PLANNING SECTION */

  .strategy-col-container {
    display: flex;
  }

  .small-plan {
    max-width: 800px;
  }

  .strategy-start {
    width: 55%;
  }

  .strategy-end {
    width: 45%;
  }

  .strategy-start .card {
    padding-bottom: 2rem;
    text-align: left;
  }

  .strategy-end .card {
    margin-top: 8rem;
  }

  /* BENEFITS SECTION */

  .benefits .col {
    width: calc(100% / 3);
  }

}